body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/616/624/non_2x/vector-seamless-pattern-with-giraffe-skin-texture-repeating-giraffe-background-for-textile-design-wrapping-paper-scrapbooking-animal-textile-print.jpg");
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
